/*QQ:245265259*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: #D9D9D9;
    min-width: 320px;
}

.cl {
    clear: both;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.act-con img {
    width: 100%;
    height: auto;
    display: block;
}

.jrkefutop {
    top: 0px;
    height: 60px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 998;
    background:none;
}
.jrkefutoptitle {
    top: 100px;
    height: 120px;
    line-height: 40px;
    overflow: hidden;
    position: fixed;
    width: 94%;
    z-index: 998;
    background:none;
    text-align:center;
    font-size:2rem;
    font-weight:800;
    left:4%;
    color:#fff;
    text-shadow: 2px 3px 1px #124880;
}
.jlogo{width:126px;height:23px;margin-top:20px;margin-left:3%;float:left;}
.juinfo{float: right;font-size: 13px;height: 28px;line-height: 28px;padding:0px 4px 0px 8px;border-top-left-radius:14px;border-bottom-left-radius:14px;margin-top: 19px;color:#052a6f;background: rgba(255, 255, 255, 0.4);}
.juinfo a{color:#052a6f;padding: 0 4px;}
.juinfo a.regbtn{color:#fff;}
.act-box {
    background: none;
    padding: 10px 15px;
    position: relative;
}

.act-row {
    background: none;
    border-radius: 5px;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    padding: 2px 6px 2px 3px;
}

.act-row:after, .act-btn:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}

.act-col {
    float: left;
    position: relative;
}

.act-col .label {
    background: #bd1f1c none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: 800;
    text-align: center;
}

.act-col input {
    border: medium none;
    border-radius: 5px;
    color: #000;
    float: right;
    font-size: 15px;
    height: 37px;
    line-height: 37px;
    margin-top: 0px;
    padding-left: 8px;
    width: 90%;
}

.act-col select {
    width: 94%;
    float: right;
    border: none;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background: #fff;

    color: #000;
    margin-top: 0px;
    border-radius: 5px;

    height:37px;
    line-height:37px;
    padding-left: 8px;

}

.act-col select option {
    color: #000;
}

.act-col .sel-area {
    display: inline-block;
    width: 90%;
    float: right;
    font-size: 15px;
    color: #000;
    background: #fff;
    height:37px;
    line-height:37px;
    padding-left: 8px;
    border-radius: 5px;
}

.act-col .curricu {
    display: inline-block;
    width: 95%;
    float: right;
    color: #000;
    font-size: 15px;
}

.act-col-20 {
    width: 20%;
}

.act-col-30 {
    width: 30%;
}

.act-col-50 {
    width: 50%;
}

.act-col-70 {
    width: 70%;
}

.act-col-80 {
    width: 80%;
}

.act-line {
    width: 100%;
    height: 1px;
    /*background: #eee;*/
    margin: 4px 0;
}

.chose-curricu span {
    position: relative;
    display: inline-block;
    width: 85px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 20px;
}

.chose-curricu span.active {
    border: 1px solid #E11315;
    color: #E11315;
}



.act-info span {
    padding-left: 8px;
    vertical-align: middle;
    color: #ff7e00;
    font-size: 16px;
}

.act-reg {
    padding: 10px 15px;
}

.act-reg-btn img {
    width: 100%;
    height: auto;
}

.act-tab2 {
    position: absolute;
    left: -9999px;
    top: 0;
    padding: 10px 0px;
    z-index: 99;
    background: #eee;
    border-radius:5px;
}

.sel-area-no, .sel-area-yes, .look-info-btn, .again-reg-btn, .go-reg-btn, .cancel-reg-btn {
    margin: 0 auto;
    display: block;
    width: 85px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 3px;
}

.sel-area-no {
    background: #ccc;
    color: #666;
}

.sel-area-yes {
    background: #E11315;
    color: #fff;
}

.look-info-btn, .cancel-reg-btn {
    border: 1px solid #666;
    color: #666;
}

.again-reg-btn, .go-reg-btn {
    border: 1px solid #e11315;
    color: #e11315;
}

.chose-curricu-box {
    display: none;
}

.act-fade, .act-fade2 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}

.act-pop, .act-pop2 {
    width: 320px;
    height: 420px;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -200px;
    z-index: 100;
}
.act-pop-con2 img{width:100%;}
.act-pop-con {
    padding: 120px 15px 0 15px;
}

.act-pop-con2 {
    padding: 0 20px;
}

.act-pop-con2 span {
    font-size: 15px;
    color: #333;
}

.act-pop-con span {
    font-size: 16px;
    color: #333;
}

.act-pop .close, .act-pop2 .close {
    position: absolute;
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url("../images/close_icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    right: 16px;
    top: 0px;
    z-index: 100;
}
.act-row .act-col .lline{
    color: #e74d53;
    float: left;
    margin-left: 8px;
    width: 4px;
    display:none;
}
.clist{ width:90%;margin:auto; }
.clist img{width:44%;float:left;margin-right:3%;display: block; }
.no-kuoke {
    background: #fff none repeat scroll 0 0;
    padding: 10px 0;
    text-align: center;
    width:80%;
    margin:auto;
}

.no-kuoke-btn {
    background: #999 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.act-tab2 div.act-row{
    border:1px solid #eee;
}
.ulogin{    color: #fff;
    height: 40px;
    line-height:20px;
    margin: auto;
    padding: 12px 8px;
    width: 100%; }
.uloginl{width:80%;float:left; }
.uloginr{width:20%;float:left;text-align:center; }
.uloginr a{color:#fff;text-decoration:underline; }
.jrkefu {
    top: 300px;
    right:10px;
    height: 110px;
    overflow: hidden;
    position: fixed;
    width: 90px;
    z-index: 98;
}
#jrkefu {
    height: 100px;
    width: 110px;
}


.wx-fade, .rule-fade {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
}

.wx-guide {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1000;
}
.ctitle2{
    width:100%;
}
.cttitle{
    background: #ffe700 none repeat scroll 0 0;
    border-radius: 0 8px 8px 0;
    color: #000;
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 12px;
    padding: 2px 12px;
    text-align: left;
    width: 120px;
    float:left;
}
.cdesc{
    float: left;
    font-size: 16px;
    padding: 8px 4px 16px;
    width: 100%;
}
.ctprice{
    float: right;
    font-size: 18px;
    font-weight: 800;
}

.testbg{background: rgba(0, 0, 0, 0) url("../images/bodybg2.png") repeat scroll 0 0 / 4px 3px;}
.ttest{height:100%;position:fixed;width:100%;min-width:320px;background: rgba(0, 0, 0, 0) url("../images/bodybg2.png") repeat scroll 0 0 / 4px 3px;}
.bg-img{width:100%;margin-top:42px;}
#tindex{height:100%;position:fixed;width:100%;background:#bee3fe;}
#jurenapp_test{height:100%;position:fixed;width:100%;max-width:640px;min-width:320px;}
.ttitle{
    top: 0px;
    height: 42px;
    line-height:42px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 998;
    background:#529dfd;
    color:#fff;
    text-align:center;
    min-width:320px;
    font-size: 0.9rem;
}
.ttitle span{color:#ffe500;}
.c40{width:35%;float:left;}
.c40 i{ font-style:normal}
.c20{width:30%;float:left;}

.tdetail{top: 20%; position: fixed;width:80%;min-width:260px;right:0px;left:0px;margin:auto;height:100%;}
.dresult{color:#ffa200;width:80%;min-width:260px;margin-top:20px;}
.danswers{margin-top:20px;width:80%;min-width:260px;}
.danswers ul li{list-style:none;height:28px;line-height:28px;color:#666;width:100%;margin-top:6px;}
.danswers ul li span{width:100%;float:left;}
.danswers ul li i{font-style:normal;border:1px solid #666;height:24px;line-height:24px;width:24px;border-radius:12px;float:left;text-align:center;margin-right:10px;}
.danswers ul li i.setyes{background:#ffa200;border:#ffa200;color:#fff;}
.dnextbtn{
    background: #4292f4 none repeat scroll 0 0;
    border-bottom: 3px none;
    border-radius: 5px;
    box-shadow: 0 6px 2px #2d79d6;
    color: #fff;
    height: 32px;
    line-height: 32px;
    margin: 10px auto auto;
    text-align: center;
    width: 42%;
}

.ttestres{height:100%;position:fixed;width:100%;min-width:320px;background: #388bfb;}
.ttestres img{width:100%;margin-top:42px;}
.ttestres img.uscore{width: 50%; margin: auto auto auto 25%; }
.res_title{width: 80%; margin: auto auto auto 10%; text-align:center;font-size:14px;color:#fff;}
.res_user{width: 80%; margin: auto auto auto 10%; text-align:center;font-size:18px;color:#ffe500;height: 36px;line-height: 30px;}
.res_score{width: 50%; margin: -88px auto auto 25%; text-align:center;font-size: 18px;color: #fa0600;font-weight: 800;}

.rtop {position: relative;top: 20px;width:320px; margin: auto; }
.rdetail{width:100%;height:100%;background:#eee;position:relative;top:20%;}
.rdetailtop{width:92%;margin: 16px auto auto 4%;}
.rdetailmid{width:92%;margin: auto auto auto 4%;background:#fff;padding:20px 0;float:left;}
.rdetailbom{width:92%;margin: auto auto auto 4%;float:left;background:#fff;border-bottom-left-radius:0.4em;border-bottom-right-radius:0.4em;height:32px;}

.rc1{background:#3e93ff;color:#3e93ff;}
.rc2{background:#fe4e4a;color:#fe4e4a;}
.rc3{background:#b0d3ff;color:#b0d3ff;}
.midtop span.rc4{color:#a50401;margin-top:0px;}
.topl{float:left;margin-top:-42px;font-size:15px;color:#666;margin-left:12px;}
.topr{float:right;margin-top:-42px;font-size:15px;margin-right:12px}
.topr span{float:left;}
.topr i{float:left;width: 16px;height:16px;border-radius:8px;font-size:10px;margin-left: 4px;margin-right: 4px;margin-top: 2px;}

.rdetailmid ul li{width:25%;float:left;list-style:none;}
.midtop{width:68px;height:68px;border-radius:34px;margin:auto;}
.midtop span{width:100%;float:left;text-align:center;color:#fff;margin-top:14px;}
.midbom{width:100%;float:left;text-align:center;height:32px;line-height:32px;}

.boml{float:left;font-size:15px;color:#3e93ff;margin-left:12px;}
.bomr{float:right;font-size:15px;color:#3e93ff;margin-right:12px}

.dtitle img{
    width: 100px;;
}